:root {
  --grid-radius: 2.5px;
}

.splash-grid {
  display: grid;
  grid-template-columns: repeat(4, 210px);
  grid-template-rows: repeat(4, 210px);
  gap: 15px;

  .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: var(--grid-radius);
  }

  .text-column {
    grid-column: span 2;
  }

  .tile-text {
    font-size: 45px;
  }

  .metric-block1 {
    background-color: #ff94eb;
    border: 1px solid black;

    border-radius: var(--grid-radius);
    box-shadow: 7.5px 7.5px black;

    .giga-text {
      font-size: 90px;
    }
  }

  .tile-container {
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.6s;

    height: 100%;
    width: 100%;

    .tile-front,
    .tile-back {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 100%;
      width: 100%;

      position: absolute;
      backface-visibility: hidden;

      background-color: rgb(162, 184, 255);
      border-radius: var(--grid-radius);
      border: 1px solid black;


      img {
        border-radius: var(--grid-radius);
        box-shadow: 2.5px 2.5px black;
      }
    }

    .tile-back {
      transform: rotateY(180deg);
    }
  }

  .flip-anim {
    transform: rotateY(180deg);
  }
}
