.splash-container {
  display: flex;
  flex-direction: column;
}

.splash-flexbox {
  display: flex;
  flex-direction: column;
  gap: 10vh;

  margin: 0 0 0 0; /* Add some breathing room at the bottom... */
}

#utilities-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.start__button {
  color: white;

  padding: 10px;
  width: fit-content;

  font-weight: 200;
  font-size: x-large;

  background-color: rgb(61, 46, 97);
  border-radius: 5px;
  box-shadow: 5px 5px black;
}

.start__button:hover {
  cursor: pointer;
  opacity: 0.5;
}

/* ========== Extra Small Devices (Phones) ========== */
@media (max-width: 576px) {
  .splash-flexbox {
    display: flex;
    flex-direction: column;
  }
}
