.splash-container {
  display: flex;
  flex-direction: column;
}

.splash-flexbox {
  display: flex;
  flex-direction: column;
  gap: 10vh;

  margin: 0 0 0 0; /* Add some breathing room at the bottom... */
}

/* ========== Extra Small Devices (Phones) ========== */
@media (max-width: 576px) {
  .splash-flexbox {
    display: flex;
    flex-direction: column;
  }
}
