.splash-grid {
  /* padding-top: 5vh; */
  display: grid;
  grid-template-columns: 35% 65%;
  width: 80vw;
  gap: 3vw;
  margin: 10vh 23vw;
}

.splashtext__container {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 5.5rem;
  font-style: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.start__button {
  color: white;
  background: var(--primary-gradient-horizontal);
  border-radius: 15px; /* Adjust the radius as needed */
  padding: 10px;
  width: fit-content;
  text-align: center;
  font-weight: 200;
  font-size: x-large;
  animation: scaleUpDown 10s ease-in-out infinite;
}

.start__button:hover {
  cursor: pointer;
  background: var(--primary-gradient-horizontal-hover);
}

@keyframes scaleUpDown {
  0% {
    transform: scale(1); /* Initial scale */
  }
  50% {
    transform: scale(1.06); /* Scale up to 120% */
  }
  100% {
    transform: scale(1); /* Scale back to 100% */
  }
}
