.splash-grid {
  /* padding-top: 5vh; */
  display: grid;
  grid-template-columns: 35% 65%;
  width: 80vw;
  gap: 3vw;
  margin: 10vh 23vw;
}

.griditem {
}

.splashtext__container {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 5.5rem;
  font-style: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.start__button {
  color: white;
  background: var(--primary-gradient);
  border-radius: 15px; /* Adjust the radius as needed */
  padding: 5px;
  width: 5rem;
  text-align: center;
  font-weight: 400;
}

.start__button:hover {
  cursor: pointer;
  background: var(--primary-gradient-hover)
}
