@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-VariableFont_wdthwght.ttf') format('truetype');
}

@font-face {
  font-family: 'GT_Planar';
  src: url('../assets/fonts/GTPlanar/GT-Planar-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Doto';
  src: url('../assets/fonts/Doto/Doto-VariableFont_regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Shippori_Mincho';
  src: url('../assets/fonts/Shippori_Mincho/ShipporiMincho-Regular.ttf') format('truetype');
}
