.reccomendation-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  background-color: rgb(247, 249, 255);
  /* background: linear-gradient(to bottom right,#f1c3fc,#531945); */
  border-radius: 10px;

  height: 100vh;

  .testimonial-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    margin: 13vh 0 0 0;

    h2 {
      font-size: 3rem;
    }

    p {
      font-size: 0.9rem;
      max-width: 40%;
    }
  }

  hr {
    width: 85%;
    margin: 0px;
    border-width: 1px 0px 0px;
    height: 1px;
    border-style: solid;
    border-color: rgb(189, 167, 187);
    background-color: transparent;
    opacity: 0.8;
    mix-blend-mode: multiply;
  }

  .reccomendation-drawer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;

    width: 85%;

    margin-top: 5vh;

    .reccomendation-data {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .quotation {
        font-weight: 800;
        font-size: 2rem;
      }

      blockquote {
        max-width: 60%;
        font-size: 1.5rem;
        font-weight: 500;
      }

      .reccomender-details {
        display: flex;
        flex-direction: column;
      }
    }

    .arrow-control {
      padding: 15px 17px;
      border-radius: 50px;
      border: 1px solid purple;
    }

    .arrow-control:hover {
      cursor: pointer;
      opacity: 0.8;
      background-color: lightgray;
    }

  }
}
