.trivia-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 600px;
  min-height: 150px;

  padding: 5px;
  background-color: var(--panel-blue);
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 5px 5px black;
}
/* Phones */
@media (max-width: 576px) {
  .trivia-container {
    width: 80vw;
    margin-top: 10vh;
    bottom: 10vh;
  }
}
