.footer-container {
  display: flex;
  flex-direction: column;

  margin-top: 5vh;
  
  --purple: hsl(270, 51%, 30%); 
  background-image: linear-gradient(to bottom right, hsla(203, 92%, 35.5%, 0.25), var(--purple), hsla(126, 65%, 66%, 0.25));
  background-color: var(--purple);
}

.footer-container__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 25px;
  color: white;

  a img:hover {
    opacity: 0.8;
  }

  .footer-container__logo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 0.8rem;
    img {
      border-radius: 100px;
    }
  }

  .footer-container__links {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    gap: 15px;

    svg {
      height: 40px;
      width: 40px;
      fill: white;
    }

    svg:hover {
      opacity: 0.8;
    }
  }
}
