.captcha-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 8px;

  width: 300px;

  border-radius: 2px;
  border: 1px solid #d3d3d3;
  background-color: #f9f9f9;
  box-shadow: 1px 1px 1px rgba(44, 46, 46, 0.5);

  font-family: Arial, Helvetica, sans-serif;

  .captcha-container__left {
    position: relative; /* necessary for child block in the fake captcha grid*/

    display: flex;
    justify-content: center;
    align-items: center;

    .captcha-container__checkbox {
      border-radius: 2px;

      background-color: #fff;
      border: 2px solid #c1c1c1;

      height: 24px;
      width: 24px;
    }

    .checkmark {
      height: 30px;
      width: 38px;

      overflow: hidden;

      background-image: url(/src/assets/images/icons/checkAnimation.png);
      background-size: 38px 1260px; /* Total size of the sprite sheet */

      animation: checkmarkAnimation 0.75s steps(21) forwards;
    }

    .captcha-container__checkbox:hover {
      border: 2px solid #b2b2b2;
    }

    .captcha-container__checkbox:focus {
      border: 2px solid blue;
    }

    .clicked {
      background-color: #dedede;
    }

    .captcha-container__text {
      margin-left: 10px;
    }
  }

  .captcha-container__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    color: #555555;

    .links a {
      color: #555555;
      text-decoration: none;
    }

    .links a:hover {
      text-decoration: underline;
    }
  }
}


@keyframes checkmarkAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -630px;
  }
}
