.captcha-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 8px;

  width: 300px;

  border-radius: 2px;
  border: 1px solid #d3d3d3;
  background-color: #f9f9f9;
  box-shadow: 1px 1px 1px rgba(44, 46, 46, 0.5);

  .captcha-container__left {
    position: relative; /* necessary for child block in the fake captcha grid*/

    display: flex;
    justify-content: center;
    align-items: center;

    .captcha-container__checkbox {
      border-radius: 2px;

      background-color: #fff;
      border: 2px solid #c1c1c1;

      height: 24px;
      width: 24px;
    }

    .captcha-container__checkbox:hover {
      border: 2px solid #b2b2b2;
    }

    .captcha-container__checkbox:focus {
      border: 2px solid blue;
    }

    .clicked {
      background-color: #dedede;
    }

    .captcha-container__text {
      margin-left: 10px;
    }

    .load-spinner {
      height: 25px;
      width: 25px;

      border-radius: 50px;
      border: 5px solid rgba(255, 255, 255, 0);
      border-top-color: #1a73e8;
      border-right-color: #1a73e8;

      transform: rotate(0deg);

      animation: loadspin 1.15s normal infinite;
    }
  }

  .captcha-container__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    color: #555555;
  }
}

@keyframes loadspin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* STYLES FOR THE ACTUAL SELECTABLE PORTION */
.visible {
  animation: fade-in 0.5s normal 0s forwards;
}
.invisible {
  animation: fade-out 0.5s normal 0s forwards;
}

.captcha-grid-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  position: absolute;
  top: -400px;
  left: 30px;

  min-width: 386px;

  background-color: white;
  border: 1px solid #cfcfcf;
  box-shadow: 4px 4px 4px rgba(44, 46, 46, 0.2);

  color: black;
  z-index: 100;

  .captcha-header {
    display: flex;
    flex-direction: column;
    gap: 2.5px;

    padding: 24px;
    font-size: 14px;

    background-color: #1a73e8;
    color: white;
  }

  .captcha-grid {
    /* this is subject to change... */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;

    padding: 8px;

    .captcha-grid-item {
      text-align: center;
      background-color: #a8b0ba;

      width: 126px;
      height: 126px;
    }
  }

  .captcha-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 8px;
    border-top: 1px solid #dfdedf;

    .captcha-icons {
      display: flex;
      flex-direction: row;

      .button-holder {
        height: 48px;
        width: 48px;

        opacity: 0.55;
      }

      .button-holder:hover {
        opacity: 0.8;
        cursor: pointer;
      }

      .reload-button-holder {
        background: url(https://www.gstatic.com/recaptcha/api2/refresh_2x.png);
        background-size: 32px 32px;
        background-repeat: no-repeat;
        background-position: center;
      }

      .audio-button-holder {
        background: url('https://www.gstatic.com/recaptcha/api2/audio_2x.png');
        background-size: 32px 32px;
        background-repeat: no-repeat;
        background-position: center;
      }

      .help-button-holder {
        background: url('https://www.gstatic.com/recaptcha/api2/info_2x.png');
        background-size: 32px 32px;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .captcha-button {
      height: 42px;
      min-width: 100px;

      color: white;

      font-size: 14px;
      font-family: Roboto, helvetica, arial, sans-serif;
      font-weight: 550;

      padding: 0 10px 0 10px;

      border: #1a73e8;
      background-color: #1a73e8;

      border-radius: 2px;
    }

    .captcha-button:hover {
      cursor: pointer;
    }
  }
}
