.bubble-container {
  display: flex;
  flex-direction: row;
  gap: 3px;

  .loading-bubble {
    width: 10px;
    height: 10px;

    border-radius: 50px;
    background-color: rgb(187, 187, 187);
  }

  .l1 {
    animation: load-animation 1.5s ease 0s infinite;
  }

  .l2 {
    animation: load-animation 1.5s ease 0.5s infinite;
  }

  .l3 {
    animation: load-animation 1.5s ease 1s infinite;
  }
}

@keyframes load-animation {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
