.featured-dock {
  grid-column: span 2;
  display: flex;
  gap: 25px;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 1.75rem;
  }

  .dock-list-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    overflow: hidden;
    mask-image: linear-gradient(90deg, transparent, #000 20%, #000 80%, transparent);
    width: 80%;
    gap: 1rem;

    span {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      justify-content: space-evenly;
      gap: 4rem;

      min-width: 100%;
      list-style: none;
      animation: dock-slide linear 30s infinite;

      .logo {
        /* width: 5rem; */
        max-width: 10rem;
        height: 5rem;
        color: black;
      }
    }
  }
}

@media (max-width: 576px) {
  .featured-dock {
    h2 {
      font-size: 1.2rem;
    }
  }
}

@keyframes dock-slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
