.resume-container {
  display: flex;
  flex-direction: column;
  gap: 5vh;

  padding: 30px;

  font-size: 1.2rem;
  text-align: left;

  position: relative;
  overflow: hidden;

  h1 {
    font-size: 3rem;
  }
}

#projects {
  gap: 5vh;
}

/* Phones */
@media (max-width: 576px) {
  .resume-container {
    font-size: 1rem;
    padding: 5px 0 5vh;

    h1 {
      font-size: 2rem;
    }
  }
}
