.loading__container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(249, 249, 249);
  height: 100%;
  width: 100%;
  z-index: 1000;
  transform: translateY(-100%); /* Start position off-screen */
  transition: transform .9s ease-in-out; /* Animation */
}

.loading__container--active {
  transform: translateY(0); /* Move to visible position */
}

.loading__container--inactive {
  /* display: none; */
  visibility: hidden;
}
