:root {
  --color-1: rgb(163, 92, 163); /* Light purple */
  --color-2: rgb(125, 228, 125); /* Light green */
  --color-3: rgb(111, 120, 241); /* indigo */

  --main-indigo: rgb(77, 61, 113);

  --form-background-color: rgb(162, 184, 255);
  --form-box-shadow: 7.5px 7.5px black;
}

body {
  /* Global styles to apply */
  font-family: 'Arial', sans-serif;

  font-optical-sizing: auto;
  font-weight: 175;
  font-style: thin;
  margin: 0;
}
