:root {
  --main-indigo: rgb(77, 61, 113);

  --panel-blue: rgb(162, 184, 255);
  --panel-pink: #ff94eb;
  --panel-green: #b7ff94;

  --panel-lavender: #e5dbff;

  --form-box-shadow: 7.5px 7.5px black;
}

body {
  /* Global styles to apply */
  font-family: 'Arial', sans-serif;
  font-family: 'Roboto', sans-serif;

  font-optical-sizing: auto;
  font-weight: 175;
  font-style: thin;
  margin: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
