:root {
  --color-1: rgb(163, 92, 163); /* Light purple */
  --color-2: rgb(125, 228, 125); /* Light green */
  --color-3: rgb(111, 120, 241); /* indigo */

  --main-indigo: rgb(77, 61, 113);

  --background-text-1: hsl(270, 54%, 76%);

  --hover-color-1: #ab0cab;
  --hover-color-2: rgb(41, 162, 41);
  --hover-color-3: rgb(59, 67, 181);

  --primary-gradient: linear-gradient(var(--color-1), var(--color-2));
  --primary-gradient-horizontal: linear-gradient(to right, var(--color-1), var(--color-2));
  --primary-gradient-hover: linear-gradient(var(--hover-color-1), var(--hover-color-2));
  --primary-gradient-horizontal-hover: linear-gradient(to right, var(--hover-color-1), var(--hover-color-2));

  --secondary-gradient: linear-gradient(var(--color-1), var(--color-2), var(--color-3));
  --secondary-gradient-hover: linear-gradient(var(--hover-color-1), var(--hover-color-2), var(--hover-color-3));
}

body {
  /* Global styles to apply */
  font-family: 'Arial', sans-serif;
   
  font-optical-sizing: auto;
  font-weight: 175;
  font-style: thin;
  margin: 0;
}
