.navbar {
  position: relative;
  width: 100vw;
  z-index: 100;
}

.navbar-container {
  padding: 10px;
  width: 100vw;
  color: white;

  background-color: var(--main-indigo);

  position: fixed;
  top: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  font-size: 1.5rem;

  .navbar-container__logo {
    margin-left: 25px;
    img {
      border-radius: 100px;
    }
  }

  .navbar-container__links {
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    cursor: pointer;
    color: #eeb319;
  }

  button {
    padding: 10px;

    color: black;
    background-color: var(--panel-blue);
    border-radius: 5px;
    border: 1px solid black;

    font-weight: 600;
    font-size: large;
  }

  button:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

@media (max-width: 576px) {
  .navbar-container {
    position: fixed;
    top: 0;

    padding: 5px 0 0 0;
  }

  .navbar-container__logo {
    img {
      height: 70px;
      width: 70px;
      margin-left: 5px;
    }
  }
}

/* DROPDOWN LIST IS VISIBLE IN MOBILE MODE ONLY... */
.dropdown-list {
  margin-top: 15vh;

  position: fixed;
  width: 100vw;

  z-index: 200;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out; /* Smooth transition */

  display: flex;
  flex-direction: column;
  gap: 9vh;
  justify-content: flex-start;
  align-items: flex-end;

  font-size: 2rem;
  font-weight: 800;

  .link-background {
    border-top: 1px solid var(--main-indigo);

    border-right: 1px solid var(--main-indigo);
    border-bottom: 1px solid var(--main-indigo);

    position: relative;

    background-color: white;
    padding: 5px 5px 5px 0px;
  }

  /* To just skew the left side (lol)*/
  .link:before {
    position: absolute;
    top: -1px;
    left: -13px;

    content: ' as';
    color: white;
    background-color: white;
    border: 1px solid var(--main-indigo);
    padding: 5px;
    z-index: -1;

    -ms-transform: skew(-20deg);
    -webkit-transform: skew(-20deg);
    transform: skew(-20deg);
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.dropdown-list.show {
  transform: translateY(0); /* Slide to the final position */
}

.dropdown-list.hidden {
  transform: translateY(-100%); /* Start slightly above */
}
