.about-container {
  height: 125vh;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;

  .text-container__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    width: 66%;
    /* height: calc(auto + 10vh); */
    align-self: center;

    background-color: #9499ff;
    border-radius: 5px;
    box-shadow: 10px 10px black;

    padding: 20px;
  }

  img {
    height: 500px;
    width: 600px;

    max-width: 80%;
    max-height: 900px;

    border-radius: 10px;
    object-fit: cover;
  }
}

@media (max-width: 576px) {
  .about-container {
    flex-direction: column-reverse;
    gap: 25px;
    img {
      border-radius: 100px;
      max-width: 75%;
      max-height: 700px;
    }
  }
}
