.about-container {
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;

  img {
    max-width: 80%;
    max-height: 900px;
    border-radius: 10px;
    object-fit: cover;
  }
}

.bubble {
  border-radius: 100%;
  position: absolute;

  animation: scaleUpDown 4s ease-in-out infinite;

  pointer-events: none;
  z-index: -1;
}

.b1 {
  top: 5%;
  left: -45%;

  height: 80vw;
  width: 80vw;

  background: radial-gradient(rgba(185, 161, 215, 0.75) 25%, rgba(255, 255, 255, 0) 70%);
}

.b2 {
  bottom: 15%;
  right: -30%;

  height: 500px;
  width: 500px;

  background: radial-gradient(rgba(152, 255, 209, 0.75) 25%, rgba(255, 255, 255, 0) 70%);
}

@media (max-width: 576px) {
  .about-container {
    flex-direction: column-reverse;
    gap: 25px;
    img {
      border-radius: 100px;
      max-width: 75%;
      max-height: 700px;
    }
  }

  .b1 {
    top: auto;
    bottom: -8%;
    left: -45%;
  }

  .b2 {
    top: 25%;
  }
}
