.setup-container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.setup-container__init {
  display: flex;
  flex-direction: column;
}

