.resume-container {
  display: flex;
  flex-direction: column;

  padding: 30px;

  font-size: 1.2rem;
  text-align: left;
}

.about-container {
  /* background-color: blue; */
  height: 100vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  img {
    max-width: 80%;
    max-height: 900px;
    border-radius: 10px;
    object-fit: cover;
  }
}

.projects-container {
  /* height: 100vh; */

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 25px;

  .project-card {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    font-size: 1.25rem;

    p {
      width: 40vw;
      text-align: left;
    }

    .project-card__img {
      width: 40vw;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 12px;
    }
  }
}

.resume-section {
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Phones */
@media (max-width: 576px) {
  .resume-container {
    font-size: 1rem;
    padding: 5px;
  }

  .about-container {
    flex-direction: column-reverse;

    img {
      border-radius: 100px;
      max-width: 75%;
      max-height: 700px;
    }
  }

  .projects-container {
    flex-direction: column;
    align-items: center;

    .project-card {
      flex-direction: column;
      align-items: center;
      text-align: center;

      p {
        width: 100%;
        text-align: left;
      }
    }

    .project-card__img {
      width: 100vw !important;

      img {
        width: 300px;
        height: auto;
      }
    }
  }
}
