.resume-container {
  display: flex;
  flex-direction: column;

  padding: 30px;

  font-size: 1.2rem;
  text-align: left;

  position: relative;
  overflow: hidden;
}

.resume-section {
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bubble {
  border-radius: 100%;
  position: absolute;

  animation: scaleUpDown 4s ease-in-out infinite;

  pointer-events: none;
  z-index: -1;
}

.b1 {
  top: 5%;
  left: -45%;

  height: 80vw;
  width: 80vw;

  background: radial-gradient(rgba(185, 161, 215, 0.75) 25%, rgba(255, 255, 255, 0) 70%);
}

.b2 {
  top: -30%;
  right: -50%;

  height: 90vw;
  width: 90vw;

  background: radial-gradient(rgba(152, 255, 209, 0.75) 25%, rgba(255, 255, 255, 0) 70%);
}

@media (max-width: 576px) {
  .b1 {
    top: 20%;
  }

  .b2 {
    top: 5%;
  }
}

/* Phones */
@media (max-width: 576px) {
  .resume-container {
    font-size: 1rem;
    padding: 5px;
  }
}
