.resume-container {
  display: flex;
  flex-direction: column;

  padding: 30px;

  font-size: 1.2rem;
  text-align: left;

  position: relative;
  overflow: hidden;
}

.bubble {
  border-radius: 100%;
  position: absolute;

  animation: moveBubble 30s ease infinite;

  pointer-events: none;
  z-index: -1;

  --smaller-bubble: 800px;
}

.b1 {
  top: -400px;
  right: -350px;

  height: 900px;
  width: 900px;

  /* background-color: red; */
  background: radial-gradient(rgba(206, 148, 255, 0.494) 35%, rgba(255, 255, 255, 0) 70%);
}

.b2 {
  top: 0;
  left: -500px;

  height: 900px;
  width: 900px;

  /* background-color: blue; */
  background: radial-gradient(rgba(197, 255, 148, 0.655) 35%, rgba(255, 255, 255, 0) 70%);
}

.b3 {
  top: 35%;
  right: -200px;

  height: 850px;
  width: 850px;

  /* background-color: green; */
  background: radial-gradient(rgba(162, 255, 186, 0.553) 35%, rgba(255, 255, 255, 0) 70%);
}

.b4 {
  top: 35%;
  left: -200px;

  height: 850px;
  width: 850px;

  background: radial-gradient(rgba(255, 162, 231, 0.655) 35%, rgba(255, 255, 255, 0) 70%);
  /* background-color: orange; */
}

.b5 {
  top: 65%;
  left: -200px;

  height: 850px;
  width: 850px;

  background: radial-gradient(rgba(169, 255, 239, 0.655) 35%, rgba(255, 255, 255, 0) 70%);

  /* background-color: royalblue; */
}

.b6 {
  top: 65%;
  right: -200px;

  height: 850px;
  width: 850px;

  background: radial-gradient(rgba(255, 169, 185, 0.655) 35%, rgba(255, 255, 255, 0) 70%);
  /* background-color: salmon; */
  animation: moveBubble 30s ease reverse infinite;
}

@media (max-width: 576px) {
  .b1 {
    top: -600px;
  }

  .b2 {
    top: 200px;
    height: 700px;
    width: 700px;
  }

  .b3 {
    right: -100px;

    height: var(--smaller-bubble);
    width: var(--smaller-bubble);
  }

  .b4 {
    left: -150px;
    height: var(--smaller-bubble);
    width: var(--smaller-bubble);
  }

  .b5 {
    left: -210px;

    height: var(--smaller-bubble);
    width: var(--smaller-bubble);
  }

  .b6 {
    top: 85%;
    left: 200px;

    height: var(--smaller-bubble);
    width: var(--smaller-bubble);
  }
}

/* Phones */
@media (max-width: 576px) {
  .resume-container {
    font-size: 1rem;
    padding: 5px 0 5vh;
  }
}

@keyframes moveBubble {
  0% {
    transform: rotate(0deg) translate(100px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(100px) rotate(-360deg);
  }
}
