.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(5, 300px);
  grid-template-rows: repeat(5, 100px);
  gap: 15px;

}
