.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(5, 300px);
  grid-template-rows: repeat(5, 100px);
  gap: 15px;
}

.skill-widget {
  border: 1px solid var(--main-indigo);
  
  .proficiency-bar {
    width: 200px;
    height: 10px;
  }

  progress[value]::-webkit-progress-bar {
    background-color: #f8f8f8b9;
  }

  progress[value]::-webkit-progress-value {
  }
}
