.navbar-container {
  height: 10vh;
  color: white;
  background-color: rgb(82, 27, 158);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 15px;
  font-size: large;

  .navbar-container__logo {
    img {
      border-radius: 100px;
    }
  }

  .navbar-container__links {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    cursor: pointer;
    color: pink;
  }
}
