.generator-container {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  overflow: hidden;

  .form-controls {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;

    margin: 20px;
    padding: 20px;
    border-radius: 15px;

    font-size: large;

    background-color: var(--panel-blue);
    box-shadow: 10px 10px black;

    max-width: 50vw;

    label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2.5px;

      font-size: 0.85rem;
      font-weight: 600;
      width: 90%;

      input {
        border-radius: 2.5px;
        border: 1px solid #bebebe;
        padding: 7.5px;
        width: 100%;
        font-size: 1rem;
      }

      select {
        border-radius: 2.5px;
        border: 1px solid #bebebe;
        padding: 7.5px;
        width: 105.5%;

        font-size: 1rem;
      }

      textarea {
        height: 125px;
        width: 100%;
        padding: 7.5px;
        resize: none;
        font-family: inherit;

        outline: none;
        border: 1px solid #bebebe;
        border-radius: 2.5px;
        font-size: 1rem;
      }
    }

    button {
      color: white;
      border-radius: 7px;
      background-color: var(--main-indigo);
      border: 1px solid transparent;

      padding: 10px;
    }

    button:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

.letter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  flex: 6;

  padding: 25px;

  .document {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border-radius: 10px;

    min-height: 85vh;

    background-color: rgb(223, 230, 255);
    font-size: 1.25rem;
    width: 80%;

    h2 {
      margin-top: 8%;
    }

    .letter-content {
      flex: 8;
    }

    p {
      max-width: 80%;
    }
  }
}

@media (max-width: 576px) {
  .generator-container {
    flex-wrap: wrap-reverse;
    .form-controls {

    }
  }
}