:root {
  --proficiency-border-radius: 3px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 25px;

  width: 100vw;
}

.sg-container {
  align-items: flex-start !important;
  gap: 16px;

  .label {
    font-size: 2rem;
    font-weight: 400;
  }

  .skills-grid {
    display: grid;

    grid-template-columns: repeat(4, 250px);
    /* grid-template-columns: repeat(4, clamp(125px, 10vw, 250px)); */
    column-gap: 16px;
    row-gap: 12px;
  }
}

.skill-widget {
  align-items: flex-start !important;
  padding: 10px;

  background-color: white;
  border: 2px solid var(--main-indigo);
  border-radius: 3px;

  box-shadow: 3px 3px black;

  .tech-details {
    justify-content: space-between;
    width: 100%;

    .tech-label {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      font-size: clamp(0.7rem, 10vw, 1.2rem);

      img {
        height: clamp(24px, 5vw, 40px);
        width: clamp(24px, 5vw, 40px);
      }
    }

    .proficiency {
      font-size: 0.95rem;
      font-size: clamp(0.7rem, 5vw, 1.2rem);
    }
  }

  progress {
    width: 100%;
    height: 11px;

    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
  }

  progress[value]::-webkit-progress-bar {
    border-radius: var(--proficiency-border-radius);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25) inset;
    background: #868686b9;
  }

  progress::-webkit-progress-value {
    background: rgb(78, 204, 78);
    border-radius: var(--proficiency-border-radius);
  }
}

@media (max-width: 576px) {
  .sg-container {
    .skills-grid {
      display: grid;

      grid-template-columns: repeat(2, 170px);
      column-gap: 8px;
    }
  }

  .skill-widget {
    padding: 5px;

    .tech-details {
      .tech-label {
        font-size: 0.8rem;
      }

      .proficiency {
        font-size: 0.75rem;
      }
    }
  }
}

@media (min-width: 577px) {
  .sg-container {
    .skills-grid {
      display: grid;

      grid-template-columns: repeat(2, 200px);
      column-gap: 8px;
    }
  }

  .skill-widget {
    padding: 5px;

    .tech-details {
      .tech-label {
        font-size: 1rem;
      }

      .proficiency {
        font-size: 0.9rem;
      }
    }
  }
}

@media (min-width: 800px) {
  .sg-container {
    .skills-grid {
      display: grid;

      grid-template-columns: repeat(3, 225px);
      column-gap: 8px;
    }
  }

  .skill-widget {
    padding: 5px;

    .tech-details {
      .tech-label {
        font-size: 1rem;
      }

      .proficiency {
        font-size: 0.9rem;
      }
    }
  }
}

@media (min-width: 1000px) {
  .sg-container {
    .skills-grid {
      display: grid;

      grid-template-columns: repeat(3, 300px);
      column-gap: 35px;
      row-gap: 50px;
    }
  }

  .skill-widget {
    padding: 5px;

    .tech-details {
      .tech-label {
        font-size: clamp(1rem, 5vw, 1.2rem);
      }

      .proficiency {
        font-size: clamp(1rem, 5vw, 1.2rem);
      }
    }
  }
}
