.navbar-container {
  height: 10vh;

  color: white;
  background-color: black;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  font-size: large;

  .navbar-container__links {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  a {
    text-decoration: none;
    color: inherit;  
  }

  a:hover {
    cursor: pointer;
    color: pink;
  }
}
