.navbar-container {
  height: 10vh;
  color: white;

  --purple: hsl(270, 51%, 30%);
  background-image: linear-gradient(to bottom right, hsla(203, 92%, 35.5%, 0.25), var(--purple), hsla(126, 65%, 66%, 0.25));
  background-color: var(--purple);

  position: sticky;
  top: 0;
  z-index: 150;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 0 15px 0 15px;
  font-size: large;

  .navbar-container__logo {
    img {
      border-radius: 100px;
    }
  }

  .navbar-container__links {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    cursor: pointer;
    color: rgb(96, 192, 117);
  }
}
