.reccomendation-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  background-color: rgb(247, 249, 255);
  border-radius: 10px;

  .testimonial-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    margin: 8vh 0 0 0;

    h2 {
      font-size: clamp(1.2rem, 5vw, 3rem);
      text-align: center;
    }

    p {
      font-size: clamp(0.75rem, 5vw, 1.15rem);
      max-width: 50%;
    }
  }

  hr {
    width: 85%;
    margin: 0px;
    border-width: 1px 0px 0px;
    height: 1px;
    border-style: solid;
    border-color: rgb(189, 167, 187);
    background-color: transparent;
    opacity: 0.8;
    mix-blend-mode: multiply;
  }

  .reccomendation-drawer {
    align-items: center;
    justify-content: space-around;
    gap: 50px;

    width: 90vw;

    margin-top: 5vh;

    .panel-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 75px;

      .reccomendation-info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;

        .reccomendation-image img {
          border-radius: 12.5px;
          width: clamp(300px, 30vw, 900px);
          height: clamp(200px, 20vw, 600px);
        }

        .quote-area {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          font-size: 1rem;
          font-size: clamp(1rem, 5vw, 1.5rem);
          font-weight: 300;
          max-width: 50%;
          height: auto;
          .reccomender {
            font-size: clamp(0.9rem, 5vw, 1.5rem);
          }
        }
      }

      .panels {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 25px;

        .progress-bar {
          height: 3.5px;
          width: clamp(50px, 10vw, 150px);

          /* Reset the default appearance */
          -webkit-appearance: none;
          appearance: none;
        }

        progress[value]::-webkit-progress-bar {
          border-radius: 1px;
          background: var(--main-indigo);
        }

        progress::-webkit-progress-value {
          background: var(--main-indigo);
          border-radius: 1px;
        }

        .progress-bar__active[value]::-webkit-progress-value {
          background: #f6b614;
        }

        .progress-bar:hover {
          cursor: pointer;
          opacity: 0.5;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .reccomendation-container {
    .reccomendation-drawer {
      .panel-container {
        .reccomendation-info {
          .quote-area {
            max-width: 90%;
          }
        }
      }
    }
  }
}
