.reccomendation-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  background-color: rgb(247, 249, 255);
  border-radius: 10px;

  .testimonial-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    margin: 8vh 0 0 0;

    h2 {
      font-size: clamp(1.2rem, 5vw, 3rem);
      text-align: center;
    }

    p {
      font-size: clamp(0.75rem, 5vw, 1.15rem);
      max-width: 40%;
    }
  }

  hr {
    width: 85%;
    margin: 0px;
    border-width: 1px 0px 0px;
    height: 1px;
    border-style: solid;
    border-color: rgb(189, 167, 187);
    background-color: transparent;
    opacity: 0.8;
    mix-blend-mode: multiply;
  }

  .reccomendation-drawer {
    align-items: center;
    justify-content: space-around;
    gap: 50px;

    width: 90vw;

    margin-top: 5vh;

    .panel-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 75px;

      .reccomendation-info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;

        .reccomendation-image img {
          border-radius: 12.5px;
          width: clamp(350px, 30vw, 900px);
          height: clamp(250px, 20vw, 600px);
        }

        .quote-area {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          font-size: 1rem;
          font-size: clamp(1rem, 5vw, 1.5rem);
          font-weight: 300;
          max-width: 50%;

          .reccomender {
            font-size: clamp(0.9rem, 5vw, 1.5rem);
          }
        }
      }

      .panels {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 25px;

        .panel-item {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 25px;
          width: 15%;
          border-top: 3px solid var(--main-indigo);
          font-size: 1.5rem;
          height: 1.5rem;
        }

        .panel-item:hover {
          cursor: pointer;
          opacity: 0.5;
        }
      }
    }
  }
}

