.reccomendation-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  background-color: rgb(247, 249, 255);
  /* background: linear-gradient(to bottom right,#f1c3fc,#531945); */
  border-radius: 10px;

  .testimonial-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    margin: 8vh 0 0 0;

    h2 {
      font-size: 3rem;
    }

    p {
      font-size: 1.2rem;
      max-width: 40%;
    }
  }

  hr {
    width: 85%;
    margin: 0px;
    border-width: 1px 0px 0px;
    height: 1px;
    border-style: solid;
    border-color: rgb(189, 167, 187);
    background-color: transparent;
    opacity: 0.8;
    mix-blend-mode: multiply;
  }

  .reccomendation-drawer {
    align-items: center;
    justify-content: space-around;
    gap: 50px;

    width: 90vw;

    margin-top: 5vh;

    .panel-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;

      .reccomendation-info {
        display: flex;
        align-items: center;
        gap: 50px;
        justify-content: center;

        .reccomendation-image img {
          border-radius: 12.5px;
          width: 450px;
          height: 300px;
        }

        .quote-area {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          font-size: 1rem;
          font-weight: 500;

          .reccomender {
            font-size: 1rem;
          }
        }
      }

      .panels {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 25px;

        .panel-item {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 25px;

          border-top: 3px solid var(--main-indigo);
          font-size: 1.5rem;
          height: 1.5rem;

          /* background-color: red; */
        }

        .panel-item:hover {
          cursor: pointer;
          opacity: 0.5;
        }
      }
    }

    .arrow-control {
      flex: 2;
      padding: 5px;
      /* padding: 15px 17px; */
      text-align: center;
      border-radius: 50px;
      border: 1px solid var(--main-indigo);
      user-select: none;
      -webkit-user-select: none; /* For Safari */
      -moz-user-select: none; /* For Firefox */
      -ms-user-select: none; /* For older versions of IE */
    }

    .arrow-control:hover {
      cursor: pointer;
      opacity: 0.8;
      background-color: lightgray;
    }
  }
}

@media (max-width: 610px) {
  .reccomendation-container {
    .reccomendation-drawer {
      .panel-container {
        .reccomendation-info {
          .arrow-control {
            display: none;
          }
        }
      }
    }
  }
}

/* ========== Extra Small Devices (Phones) ========== */
@media (max-width: 576px) {
  .reccomendation-container {
    height: auto;
    /* align-items: stretch; */
    width: 100vw;
    overflow: hidden;

    .testimonial-header {
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 2rem;
        max-width: 80vw;
      }

      p {
        max-width: 80vw;
      }
    }

    .reccomendation-drawer {
      display: flex;
      flex-direction: column;

      .panel-container {
        gap: 8px;

        .reccomendation-info {
          display: flex;
          flex-direction: column;
          gap: 8px;

          .reccomendation-image img {
            width: 80vw;
            height: 100%;
          }

          .quote-area {
            gap: 12px;

            font-size: 1rem;
            font-weight: 500;

            width: 80vw;

            .reccomender {
              font-size: 1rem;
            }
          }
          .arrow-control {
            display: none;
          }
        }

        .panels {
          .panel-item {
            img {
              display: none;
            }
          }
        }
        /* .arrow-control {
          display: none;
        } */
      }
    }
  }
}
