.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 25px;

  .project-card {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      width: 40vw;
      text-align: left;

      /* background-color: var(--color-2); */
      border-radius: 5px;
      box-shadow: 10px 10px black;
      padding: 40px;

      .courier-text {
        font-family: 'Courier New', Courier, monospace;
        background-color: rgb(231, 231, 231);
        padding: 1px;
      }

      .text-container__tech-used {
        text-align: center;
      }

      .text-container__description {
        text-align: left;
        font-size: 1.2rem;
      }
    }

    .project-card__img {
      width: 40vw;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 12px;
    }
  }
}

@media (max-width: 576px) {
  .projects-container {
    flex-direction: column;
    align-items: center;

    .project-card {
      flex-direction: column;
      align-items: center;
      text-align: center;

      .text-container {
        align-items: center;
        justify-content: center;

        width: 100%;
        text-align: left;

        .text-container__description,
        .text-container__tech-used {
          text-align: left;
          font-size: 0.9rem;
        }
      }
    }

    .project-card__img {
      width: 100vw !important;

      img {
        width: 300px;
        height: auto;
      }
    }
  }
}
