.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 25px;

  .project-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 25px;

    .text-container {
      flex: 5;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      text-align: left;

      height: auto;
      
      border-radius: 5px;
      box-shadow: 10px 10px black;
      padding: 40px;


      .courier-text {
        font-family: 'Courier New', Courier, monospace;
        background-color: rgb(231, 231, 231);
        border-radius: 4px;
        padding: 1px;
      }

      .text-container__tech-used {
        text-align: center;
      }

      .text-container__description {
        text-align: left;
        font-size: 1.2rem;
      }
    }

    .video-container {
      flex: 5;

      video {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
      }
    }
  }
}

@media (max-width: 576px) {
  .projects-container {
    flex-direction: column;
    align-items: center;

    .project-card {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 25px;

      .text-container {
        align-items: center;
        justify-content: center;

        width: 87.5%;

        padding: 10px;
        text-align: left;

        .text-container__description,
        .text-container__tech-used {
          text-align: left;
          font-size: 0.9rem;
        }
      }

      .video-container {
        flex: 5;

        video {
          width: 95vw;
        }
      }
    }
  }
}
