.chat-container {
  position: fixed;

  right: 30px;
  bottom: 30px;

  /* Chat bubble */
  .chat-container__unread {
    position: absolute;
    left: -5px;
    top: -10px;

    border-radius: 100px;
    padding: 3px 8px 3px 8px;

    background-color: red;
    color: white;

    font-weight: 600;
    font-size: 0.9rem;
    z-index: 85;
  }

  .chat-container__me {
    width: 60px;
    height: 60px;

    border-radius: 30px;
  }

  .chat-container__me:hover {
    cursor: pointer;
  }

  .chat-container__me img {
    border: 1px solid rgb(102, 0, 128);
    border-radius: 12.5px;
  }
}

/* Message Container */
.messenger-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  right: 30px;
  bottom: 0px;

  height: 350px;
  width: 325px;

  border: 1px solid rgb(175, 175, 175);
  border-radius: 2.5px;
  z-index: 200;
  background-color: white;

  .messenger-container__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;

    padding-top: 10px;
    padding-bottom: 5px;
    img {
      border-radius: 50px;
    }

    .messenger-container__close {
      padding: 2px 5px 2px 5px;
    }

    .messenger-container__close:hover {
      background-color: lightgray;
      border-radius: 50px;
      cursor: pointer;
    }
  }

  .messenger-container__messages {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    gap: 8px;

    height: 80%;
    width: 95%;


    .chat-text {
      padding: 5px;
      border-radius: 10px;

      font-weight: 200;
    }

    .ME {
      background-color: #f0f0f0;
    }

    .YOU {
      background-color: rgb(141, 103, 210);
      color: white;
    }

    .sender--ME {
      width: 65%;
    }

    .sender--YOU {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}
