.footer-container {
  display: flex;
  flex-direction: column;

  background-color: rgb(255, 223, 228);
}

.footer-container__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 25px;

  .footer-container__logo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 0.8rem;
    img {
      border-radius: 100px;
    }
  }

  .footer-container__links {
    display: flex;
    flex-direction: row;

    align-items: center;

    gap: 10px;

    img {
      height: 40px;
      width: 40px;
    }
  }
}
