.bubble {
  border-radius: 100%;
  position: absolute;
  animation: moveBubble 30s ease infinite;
  pointer-events: none;
  z-index: -1;
}

.bubble.reverse {
  animation: moveBubble 30s ease reverse infinite;
}

@keyframes moveBubble {
  0% {
    transform: rotate(0deg) translate(100px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(100px) rotate(-360deg);
  }
}

@media (max-width: 576px) {
  .bubble {
    --scale-factor: 0.8;
    transform: scale(var(--scale-factor));
  }
} 