/* vvvvvvvvv CURTAIN CLOSING ANIMATION vvvvvvvvv */

/* The closed states/positions for the curtains. */

.lc-open {
  animation: lc-open 2s ease-in-out forwards;
}

.lc-close {
  animation: lc-close 2s ease-in-out forwards;
  visibility: visible !important;
}

.rc-open {
  animation: rc-open 2s ease-in-out forwards;
}

.rc-close {
  animation: rc-close 2s ease-in-out forwards;
  visibility: visible !important;
}

@keyframes lc-open {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50vw);
  }
}

@keyframes lc-close {
  0% {
    transform: translateX(-50vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

@keyframes rc-open {
  0% {
    transform: translateX(50vw);
  }
  100% {
    transform: translateX(100vw);
  }
}

@keyframes rc-close {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(50vw);
  }
}
