@import './curtain-animations.css';

.curtain-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
}

.hidden {
  visibility: hidden;
}

.curtain {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 50vw;
  background-color: #000; /* Change to whatever color you want */
  z-index: 201;
}

/* Initial position (off-screen) */
.curtain--left-gradient {
  background: linear-gradient(to right, rgb(196, 196, 245), white);
  /* background-color: red; */
  z-index: 201;
}

.curtain--right-gradient {
  background: linear-gradient(to left, rgb(183, 255, 183), white);
  z-index: 201;
  /* background-color: blue; */
}

.curtain-content {
  z-index: 201;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.curtain__stripe-right {
  background-color: var(--color-3);
  width: 40vw;
  height: 35px;
  position: fixed;
  top: 22.5vh;
  left: 30vw;
  transform: rotate(-19deg) skew(-25deg);
  box-shadow: 10px 10px black;
}

.curtain__stripe-left {
  background-color: var(--color-2);
  width: 40vw;
  height: 30px;
  position: fixed;
  top: 65vh;
  right: 30vw;
  transform: rotate(-19deg) skew(-25deg);
  box-shadow: 10px 10px black;
}

.curtain__stripe-left2 {
  background-color: var(--color-1);
  width: 25vw;
  height: 25px;
  position: fixed;
  top: 55vh;
  right: 35vw;
  transform: rotate(-19deg) skew(-25deg);
  box-shadow: 10px 10px rgba(0, 0, 0, 1);
}
