/* STYLES FOR THE ACTUAL SELECTABLE PORTION */
.visible {
  animation: fade-in 0.5s normal 0s forwards;
}
.invisible {
  animation: fade-out 0.5s normal 0s forwards;
}

.captcha-grid-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  position: absolute;
  top: -400px;
  left: 30px;

  min-width: 386px;

  background-color: white;
  border: 1px solid #cfcfcf;
  box-shadow: 4px 4px 4px rgba(44, 46, 46, 0.2);

  color: black;
  z-index: 100;

  .captcha-header {
    display: flex;
    flex-direction: column;
    gap: 2.5px;

    padding: 24px;
    font-size: 14px;

    background-color: #1a73e8;
    color: white;
  }

  .captcha-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 8px;
    border-top: 1px solid #dfdedf;

    .captcha-icons {
      display: flex;
      flex-direction: row;

      .button-holder {
        height: 48px;
        width: 48px;

        opacity: 0.55;
      }

      .button-holder:hover {
        opacity: 0.8;
        cursor: pointer;
      }

      .reload-button-holder {
        background: url(https://www.gstatic.com/recaptcha/api2/refresh_2x.png);
        background-size: 32px 32px;
        background-repeat: no-repeat;
        background-position: center;
      }

      .audio-button-holder {
        background: url('https://www.gstatic.com/recaptcha/api2/audio_2x.png');
        background-size: 32px 32px;
        background-repeat: no-repeat;
        background-position: center;
      }

      .help-button-holder {
        background: url('https://www.gstatic.com/recaptcha/api2/info_2x.png');
        background-size: 32px 32px;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .captcha-button {
      height: 42px;
      min-width: 100px;

      color: white;

      font-size: 14px;
      font-family: Roboto, helvetica, arial, sans-serif;
      font-weight: 550;

      padding: 0 10px 0 10px;

      border: #1a73e8;
      background-color: #1a73e8;

      border-radius: 2px;
    }

    .captcha-button:hover {
      cursor: pointer;
    }
  }
}

.captcha-grid-small {
  /* this is subject to change... */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;

  padding: 8px;

  .captcha-grid-item {
    text-align: center;
    background-color: #a8b0ba;

    width: 126px;
    height: 126px;
  }
}

.captcha-grid-large {
  /* this is subject to change... */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2.5px;
  row-gap: 2.5px;

  padding: 8px;

  .captcha-grid-item {
    width: 90px;
    height: 90px;

    overflow: hidden;
    position: relative;

    text-align: center;

    .captcha-grid-item__wrapper {
      width: 90px;
      height: 90px;
      overflow: hidden;

      img {
        position: relative;
        width: 380px;
        height: 380px;
      }
    }
  }

  .scale-down {
    transform: scale(0.8);
    transition: 0.1s ease;
  }
}
