.physics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  /* height: 100vh; */

  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    input {
      width: 200px;
      height: 30px;
    }
  }
}
