.physics-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  /* overflow: hidden; The background canvas causes overflow... */
}

.survey-view-container {
  display: flex;
  height: 100vh;

  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 0 5vw 0 5vw;
  gap: 100px;

  .survey-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 3.2rem;
    }

    p {
      font-size: 1.1rem;
    }
  }
}

/* Phone Screens */
@media (max-width: 576px) {
  .physics-container {
    /* overflow: scroll; */
  }

  .survey-view-container {
    flex-direction: column;
    overflow: visible;
    justify-content: start;

    .survey-description-container {
      overflow: visible;

      h1 {
        font-size: 2.85rem;
        max-width: 65vw;
        height: 50vh;
      }

      p {
        font-size: large;
      }
    }
  }
}
