.setup-container {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .init-block {
    display: flex;
    flex-direction: row;

    gap: 100px;
    align-items: center;

    width: 80vw;

    .init-block__info {
      flex: 3;

      h1 {
        font-size: 55px;
        min-height: 200px;
      }
    }
  }

  .su-fade-in {
    animation: fade-in 2s ease-in-out forwards;
  }

  .su-fade-out {
    animation: fade-out 1s ease-in-out forwards;
  }
}

.error-text {
  color: red;
}
.email-form-container {
  display: flex;
  flex-direction: column;

  padding: 25px;
  border-radius: 25px;
  background-color: hsl(270, 62%, 89%);
  box-shadow: 7.5px 7.5px black;

  .email-form {
    flex: 5;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    column-gap: 30px;
    row-gap: 30px;

    label {
      font-size: 0.8rem;

      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    /* Shared input stuff.*/
    select,
    input {
      border: 1px solid #bebebe;
      border-radius: 2.5px;
      padding: 7.5px;
      outline: none;
    }

    .user-details {
      grid-column: span 2;

      display: flex;
      justify-content: space-between;
      gap: 10px;
    }

    .details {
      grid-column: span 2;

      textarea {
        width: 100%;
        height: 75px;

        resize: none;
        font-family: inherit;

        outline: none;
        border: 1px solid #bebebe;

        border-radius: 2.5px;
      }
    }

    .submit-container {
      grid-column: span 2;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;

      label {
        display: flex;
        flex-direction: row;
      }

      #submit-button {
        font-size: 1.2rem;

        color: white;

        padding: 10px;

        border-radius: 5px;
        border: 1px solid rgb(78 59 125);
        background-color: rgb(78 59 125);
      }

      #submit-button:hover,
      .give-up-button:hover {
        cursor: pointer;
        opacity: 0.8;
      }

      .give-up-button {
        padding: 10px;

        color: white;

        background-color: black;
        border: 1px solid black;
        border-radius: 5px;

        animation: give-up-anim 3s ease forwards;
      }
    }
  }
}

@keyframes give-up-anim {
  from {
    opacity: 0;
    transform: translateX(-400px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 576px) {
  .setup-container {
    height: max-content;
    margin-bottom: 25px;

    .init-block {
      display: flex;
      flex-direction: column;
      height: 100%;
      gap: 5px;

      .init-block__info {
        display: flex;
        flex-direction: column;

        h1 {
          font-size: 2.75rem;
        }

        p {
          font-size: medium;
        }
      }
    }
  }

  .email-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
    width: 80%;
    flex: auto;
    h1 {
      font-size: 1.8rem;
    }

    .email-form {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .user-details {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
