.cover-letter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 85vw; */
  margin: 0 5vw 0 5vw;

  .panel-one {
    display: flex;
    flex-direction: column;
    flex: 6;
    gap: 15px;

    margin: 0 10vw;

    h1 {
      font-size: 2rem;
      max-width: 75%;
    }

    p {
      max-width: 80%;
    }
  }
}

.panel-two {
  flex: 5;

  display: flex;
  flex-direction: column;

  .metric {
    display: flex;
    align-items: center;
    justify-content: center;

    .metric-text {
      /* margin-top: -25px; */
    }
  }
}
