.cardstack {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
}

.cardstack__container {
  position: relative;
  width: 22.5vw; /* Set the container width to match the card size */
  height: calc(55vh + 60px); /* Set the container height to match the card size plus the offset.*/
}

.card__image,
.card__text {
  z-index: 10;
  height: 55vh;
  width: 22.5vw;

  /* The card stack/transition stuff*/
  position: absolute;
  transition: transform 0.3s ease-in-out;
  transform: var(--card-transform, translateY(0) translateX(5));
  z-index: var(--card-z-index, 1);
}

.card__image,
.card__text {
  border: 3px solid #4c539e;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(29, 57, 57, 0.5);
}

.card__text:hover {
  cursor: pointer;
}

.card__text {
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
  background-color: rgba(0, 0, 0, 0.5);
}

.cardstack__container--active:hover * {
  transition: transform 0.1s ease-in-out; /* Smooth transition effect */
}

.cardstack__container .card__container:nth-child(1) {
  --card-z-index: 10;
}

.cardstack__container .card__container:nth-child(2) {
  --card-transform: translateY(30px) translateX(30px); /* Offset card */
  --card-z-index: 2;
}

.cardstack__container .card__container:nth-child(3) {
  --card-transform: translateY(60px) translateX(60px); /* Offset card */
  --card-z-index: 0;
}

/* For the controls section. */
.cardstack__controls {
  margin-top: 5vh;
  width: calc(22.5vw + 60px);
  text-align: center;
  position: relative;
}

.cardstack__control {
  /* Below is necessary to change the color of the icons to a linear gradient*/
  font-size: 4.5vh;
  background: var(--secondary-gradient);
  -webkit-background-clip: text;
  color: transparent;
}

.cardstack__control i:hover {
  cursor: pointer;
  background: var(--secondary-gradient-hover);
  -webkit-background-clip: text;
  color: transparent;
}

.cardstack__control--left {
  padding-right: 2.5px;
}

.cardstack__control--right {
  padding-left: 2.5px;
}
