name: Docker Image CI

on:
  push:
    branches: ['master']
  pull_request:
    branches: ['master']

jobs:
  buildAndPush:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install frontend dependencies
        run: |
          cd frontend
          npm install

      - name: Build frontend
        run: |
          cd frontend
          npm run build

      - name: Create target directory
        run: mkdir -p backend/static

      - name: Copy frontend build to backend
        run: |
          cp -r frontend/dist/* backend/static

      - name: Build Docker image
        run: |
          cd backend
          docker build -t ghcr.io/${{ github.repository }}/portfolio-site:latest .

      - name: Push Docker image
        run: docker push ghcr.io/${{ github.repository }}/portfolio-site:latest
